
<!-- This is the home route which will open the SIGN UP PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method = "post">
        <input type="email" name ="email" placeholder="Enter the email">
        <input type="password" name="pass" placeholder="Enter the pass">
        <label for="myDropdown">Select an option:</label>
        <select name="admin" id="myDropdown" name="dropdown">
            <option value="option1">admin</option>
            <option value="option2">user</option>
        </select>

        <button type="submit">Sign Up</button>

    </form>
    
    this is the admin page
</body>
</html>